vlm_pna.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2080f0d0-0fcf-4886-b20e-fd89694b50f5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="5162aa9a-3b66-45ce-b219-c2ca77b4c99e" >
		<file:connection workingDir="/Users/povilasnarusis/AnypointStudio/studio-workspace/vlm_pna/src/main/mule" />
	</file:config>
	<flow name="vlm_pnaFlow" doc:id="06e3840d-a526-465c-b2f5-97fd0cf08fe7" >
		<http:listener doc:name="Listener" doc:id="7e83a71d-1a03-4df6-b842-b1a0a4fa8eda" config-ref="HTTP_Listener_config" path="/requestapi"/>
		<file:read doc:name="readxml" doc:id="798e34b1-49fe-44a5-b5c7-9857c663128e" path="/vlm_pna/src/main/mule/karnel_logs_20220414.xml" config-ref="File_Config"/>
		<choice doc:name="Status failed" doc:id="79b08889-e086-48de-a4d4-91fcddfb9e1f" >
			<when expression='#[payload.karnel_log_management.transaction.status == "03" or&#10;payload.karnel_log_management.transaction.status == "02"]' doc:id="cbb3a03d-1eff-4fec-8beb-c2c520f013ad"/>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="4da4d9c6-8ce0-416e-be47-63afc7d34c8f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"DATE TIME":payload.date,
    "Transaction ID": payload.karnel_log_management.transaction.id,
    "Start time": payload.karnel_log_management.transaction.start_time,
    "Responsible employee": payload.karnel_log_management.transaction.wh_emp,
    "Status": payload.karnel_log_management.transaction.status
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
